

body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}
.placeholder {
  color: #1F2937;
  width: 300px; 
  height: 150px; 
  background-color: #E5E7EB;
  display: flex;
  justify-content: center;
  align-items: center;
}


.navbar, .header{
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
    color: #F9FAF8;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 60px;
}

.navbar a{
    color: #E5E7EB;
    text-decoration: none;
}

.navbar ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 15px;
}

.links{
    font-size: 18px;
}

#logo{
    font-size: 24px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 80px;
    gap: 50px;
}

.header-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.header p{
    font-size: 18px;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

.header .cta-button{
    background-color: #3882F6;
    padding: 8px 20px;
    border-radius: 10px;
    border:  0px solid;
    font-size: 14px;
    width: 50px;
}

#hero{
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.main-section h1{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.grid{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 80px;
    gap: 10px;
    margin-bottom: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.card p{
    font-size: 12px;
    text-align: center;
}

.card-image {
    width: 100px; 
    height: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: #3882F6 3px solid;
    border-radius: 10px;;
  }


.quote-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}
.quote-section{
    padding: 60px;
    width: 60%;
  
}

#quote{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    margin: 0;
}
#quote-author{
    font-size: 18px;
    font-weight: 900;
    color: #1F2937;
    text-align: right;
    margin: 0;

}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 25px 0;
}

.cta-container{
    background-color: #3882F6;
    width: 60%;
    border-radius: 10px;
    color:#E5E7EB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
}

.cta-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cta-text p, .cta-text h2{
    margin: 0;
    padding: 0;
}

.cta-text p{
    font-size: 12px;
}

.cta-text h2{
    font-size: 16px;
}

.cta-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    border-radius: 10px;
    border: #E5E7EB 2px solid;
    width: 50px;
    font-size: 14px;
}



